@import "variables";

.HomePage{
  &_mainBanner{
   max-width: 100%;
   height: 350px;
   display: flex;
   position: relative;
   justify-content: center;
   align-items: center;
    img {
      width: 100%;
      object-fit: cover;
      filter:blur(5px);
      position: absolute;
      height: 350px;
      z-index: -1;
    }
    &_searchContainer{
      form {display: flex}
      &_item{
        input, button, select{
          height: 50px;
          border: 0;
          background-color: $thirdColor;
          &:focus{
            outline: none;
          }
        }
        input{
          width: 400px;
          padding: 0 20px;
          font-size: 0.8em;
        }
        button{
          background-color: $fifthColor;
          color: $thirdColor;
          width: 80px;
          font-size: 1em;
          font-weight: bold;
          display: flex;
          align-items: center;
          justify-content: center;
          cursor: pointer;
        }
        .react-select-container{
          .react-select__control{
            
            height: 50px;
            width: 100px;
            background-color: $sixthColor;
            cursor: pointer;
            font-size: 0.8em;
            border: 0;
            border-radius: 0;
            &--is-focused{
              box-shadow: none;
            }
            .react-select__value-container{
              max-height: 50px;
              padding: 0 10px;
              margin: 0;
              .react-select__input-container{
                padding: 0;
                margin: 0;
              }
            }
            .react-select__input-container{
              color: $firstColor;
              height: 50px;
            }
            .react-select__indicator{
              &:hover{
                color: $firstColor;
              }
            }
            .react-select__single-value{
              color: $firstColor;
              font-weight: 600;
            }
          }
          .react-select__menu{
            margin: 0;
            border-radius: 0;
            background-color: $sixthColor;
            font-size: 0.8em;
            
            color: $firstColor;
            .react-select__option{
              transition: 0.2s;
              &--is-focused {
                background-color: #d3d2d2;
                color: $firstColor;
              }
              &--is-selected{
                background-color: $fifthColor;
                color: $thirdColor
              }
              &:hover{
                background-color: #d3d2d2;
                color: $firstColor;
              }
    
            }
          
          }
        }
      } 
    }
  }
  &_laderboardContainer{
    width: 100%;
    display: flex;
    padding: 40px 0 0;
    margin-bottom: 0;
    background-color: $secondColor;
    flex-direction: column;
    align-items: center;
    &_titlebar{
      width: 1100px;
      height: 180px;
      background-color: $fourthColor;
      display: flex;
      flex-direction: column;
      justify-content:flex-end;
      gap: 10px;
      &_descContainer{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        &_img{
          width: 110px;
          height: 80px;
          display: flex;
          overflow: hidden;
          justify-content: center;
          align-items: center;
          img{
            width: 120px;
            height: 200px;
            object-fit: cover;
          }
        }
        p:nth-child(1){
          font-size: 1.3em;
          font-weight: 600;
          margin: 0;
        }
        p:nth-child(2){
          font-size: 0.95em;
          margin: 0;
          color: $sixthColor;
        }
        
      }
      &_navigation{
        width: 100%;
        display: flex;
        justify-content: center;
        &_item{
          width: 115px;
          height: 55px;
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 1em;
          transition: 0.2s;
          cursor: pointer;

          &:hover{
            background-color: $secondColor;
          }
        }
        &_active{
          border-bottom: 3px solid $fifthColor;
        }
      }
    }
    table{
      width: 1100px;
      border-collapse: collapse;
      th{
        padding: 8px;
        height: 50px;
        border-bottom: 2px solid $fifthColor;
      }
      thead tr{
        background-color: $firstColor;
      }
      tbody tr{
        height: 45px;
        width: 100%;
        text-align: center;
        td:nth-child(2){
          cursor: pointer;
          transition: 0.2s;
          &:hover{
            color: $fifthColor;
          }
        }
        &:nth-child(even){
          background-color:#262c33;
        }
        &:nth-child(odd){
          background-color: #2f373f;
         
        }
        
      }
    }
  }
}
@media screen and (max-width: 1120px) {
  .HomePage_laderboardContainer{
    width: 100%;
    padding: 20px;
    &_titlebar{
      width: 100%;
    }
    table{
      width: 100%;
    }
  }
}
@media screen and (max-width: 700px) {
  .HomePage_mainBanner{
    height: 300px;
  }
  .LaderboardContainer_item_tier{
    display: none;
  }
}
@media screen and (max-width: 600px) {
  .HomePage_mainBanner{
    height: 250px;
  }
  .HomePage_mainBanner_searchContainer_item{
    input{width: 270px;}
    font-size: 0.85em;
  }
  td, tr{
    font-size: 0.8em;
  }
}
@media screen and (max-width: 490px) {
  .HomePage_mainBanner{
    height: 220px;
  }
  .HomePage_mainBanner_searchContainer_item{
    font-size: 0.85em;
    input{
      width: 160px;
    }
    button{
      width: 45px;
    }
    input, button, .react-select__control, .react-select__value-container, .react-select__input-container{
      height: 40px !important; 
    }
    .react-select__control{
      width: 95px !important;
    }
  }
  .HomePage_laderboardContainer{
    padding: 10px;
    &_titlebar{
      height: 150px;
    
      &_descContainer_desc{
        p:nth-child(1){
          font-size: 0.95em;
          margin: 0;
        }
        p:nth-child(2){
          font-size: 0.75em;
          margin: 0;
          color: $sixthColor;
        }
      }
      &_descContainer_img{
        width: 80px;
        img{
          height: 150px;
        }
      }
      &_navigation_item{
        font-size: 0.8em;
        height: 40px;
      }
    }
  }
  
}
@media screen and (max-width: 380px) {
  .LaderboardContainer_item_losses{
    display: none;
  }
  .LaderboardContainer_item_wins{
    display: none;
  }
}