@import "variables";
.profileContainer_banner{
  width: 100%;
  position: absolute;
  height: 220px;
  z-index: -1;
  img{
    width: 100%;
    height: calc(100% - 20px);
    position: absolute;
    z-index: -2;
    object-fit: cover;
    filter:blur(7px);
  }
  &_downside{
    height: 20px;
    width: 100%;
    position: absolute;
    bottom: 0;
    background-color: $secondColor;
  }

}
.profileContainer{
  display: flex;
  width: 1100px;
  flex-direction: column;
  align-items: center;
  margin: 125px auto 30px;
  .loader{
    margin: 200px;
  }
  .summonerInfo{
    padding: 10px 0 13px;
    display: flex;
    height: 150px;
    width: 100%;
    background-color: $fourthColor;
    gap: 20px;
    justify-content: center;
    border-bottom: 3px solid $fifthColor;
    &_icon{
      height: 100%;
      img{
        height: 100%;
      }
    }
    &_container{
      display: flex;
      flex-direction: column;
      gap: 15px;
    }
    &_name{
      font-size: 1.2em;
      font-weight: bold;
    }
    &_stats{
      display: flex;
      gap: 20px;
      &_container{
        display: flex;
        flex-direction: column;
        gap: 5px;
        &_title{
          font-size: 0.85em;
          color: $sixthColor;
        }
        &_progressbar{
          height: 8px;
          width: 150px;
          border-radius: 4px;
          background-color: #838b97;;
          margin-bottom: 5px;
          &_bar{
            height: 100%;
            border-radius: 4px;
            background-color: $fifthColor;
          }
        }
      }
    }
  }
  .profileContainer_rank{
    width: 100%;
    padding: 30px 0;
    display: flex;
    justify-content: center;
    .rankContainer{
      margin-bottom: 50px;
      .loaderContainer{
        width: 300px;
        height: 150px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      &_rank{
        display: flex;
        width: 300px;
        flex-direction: column;
        justify-content: center;
        &_img{
          width: 100%;
          height: 120px;
          display: flex;
          overflow: hidden;
          justify-content: center;
          align-items: center;
          img{
            width: 700px;
            height: 300px;
            object-fit: cover;
          }
        }
        &_unrankedImg{
          img{
            height: 170px;
            object-fit: contain;
          }
        }
        &_text{
          text-align: center;
        }
        &_summonerName{
          font-weight: 600;
        }
        &_rankInfoTier{
          font-size: 0.9em;
          text-transform: capitalize;
          font-weight: 600;
        }
        &_rankInfo, &_rankedInfo{
          font-size: 0.8em;
          text-transform: capitalize;
          b{
            font-weight: 600;
          }
        }
      }
    }
  }
  .matchHistory{
    width: 1100px;
    &_container{
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 20px;
      .matchContainer{
        min-height: 120px;
        width: 100;
        background-color: $firstColor;
        display: flex;
        padding: 10px;
        border-left: 3px solid;
        gap: 25px;
        align-items: center;
        &_info{
          display: flex;
          flex-direction: column;
          width: 90px;
          &_place{
            font-size: 1.2em;
            font-weight: bold;
          }
          &_type{
            font-size: 0.75em;
            color: $sixthColor;
          }
        }
        &_profilePic{
          height: auto;
          border-radius: 50%;
          border: 4px solid $secondColor;
          overflow: hidden;
          display: flex;
          img{
            height: 60px;
            width: 60px;
            object-fit: cover;
          }
        }
        &_augments{
          display: flex;
          flex-direction: column;
          
          gap: 5px;
          &_item{
            position: relative;
            cursor: pointer;
            height: 30px;
            border: solid 2px $secondColor;
            img{
              height: 100%;
            }
          }
        }
        &_champions{
          display: flex;
          gap: 12px;
          width: 550px;
          flex-wrap: wrap;
          .championContainer{
            position: relative;
            cursor: pointer;
            width: 50px;
            display: flex;
            flex-direction: column;
            align-items: center;
            &_stars{
              display: flex;
              justify-content: center;
              font-size: 0.85em;
              height: 15px;
              &_thirdTier{
                color: #feca10;
              }
              &_secondTier{
                color: #ededed;
              }
            }
            &_images{
              height: 50px;
              width: 50px;
              display: flex;
              justify-content: center;
              margin: 0;
              border: solid 2px;
              border-radius: 5px;
              img{
                height: 100%;
                width: 100%;
                object-fit:cover;
                object-position: 100%;
              }
            }
            &_items{
              gap: 3px;
              display: flex;
              &_itemImg{
                position: relative;
                cursor: pointer;
                img{
                  width: 15px;
                  height: 15px;
                }
              }
            }

          }
        }
        &_traits{
          display: flex;
          
          flex-wrap: wrap;
          gap: 7px 3px;
          width: 150px;
          &_traitHover{
            position: relative;
            cursor: pointer;
          }
          &_trait{
            padding: 2px;
            background-color: red;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 35px;
            height: 35px;
            
            clip-path: polygon(50% 0%, 95% 25%, 95% 75%, 50% 100%, 5% 75%, 5% 25%);
            img{
              width: 20px;
              height: 20px;
            }
          }
        }
        &_more{
          width: 60px;
          button{
            display: flex;
            align-items: center;
            justify-content: center;
            height: 40px;
            width: 100%;
            font-size: 1.7em;
            background-color: transparent;
            border: none;
            color: $thirdColor;
            cursor: pointer;
            transition: 0.3s;
            &:hover{
              color: $fifthColor;
            }
          }
        }
      }
    }
  }
}
.morePlayerContainer{
  .morePlayerContainer_table{
    background-color: $firstColor;
  }
  table{
    border-collapse: collapse;
    width: 100%;
    tbody{
      tr{
        height: 110px;
        gap: 10px;
        td{
          text-align: center;
        }
        &:nth-child(even){
          background-color:#262c33;
        }
        &:nth-child(odd){
          background-color: #2f373f;
         
        }
      }
    }
    thead{
      tr{
        height: 60px;
        font-size: 0.7em;
        th{
          border-bottom: solid $fifthColor 3px;
        }
        
      }
    }
  }
  
  &_placement{
    
    gap: 10px;
    &_cont{
      display: flex;
      align-items: center;
      height: 100%;
      gap: 7px;
      justify-content: center;
    }
    &_place{
      font-size: 1.2em;
      font-weight: 600;
      width: 30px;
    }
    &_profilePic{
      height: auto;
      border-radius: 50%;
      border: 4px solid $secondColor;
      overflow: hidden;
      display: flex;
      img{
        height: 40px;
        width: 40px;
        object-fit: cover;
      }
    }
  }
  &_champions{
    width: 480px;
    .matchContainer_champions{
      width: 100% !important;
      gap: 2px !important;
      .championContainer{
        &:nth-child(n+10){
          display: none !important;
        }
        .championContainer_images{
          height: 40px !important;
          width: 40px !important;
          img{
            height: 100%;
            width: 100%;
          }
          
        }
      }
    }
  }
  &_traits{
    width: 100px;
    &_con{
      display: flex;
      gap: 3px;
      flex-wrap: wrap;
      .matchContainer_traits_traitHover:nth-child(n+10){
        display: none;
      }
      .matchContainer_traits_trait{
        width: 25px !important;
        height: 25px !important;
      }
    }
  }
  &_augments{
    &_con{
      display: flex;
      flex-direction: column;
      align-items: center;
      .matchContainer_augments_item{
        width: 30px !important;
      }
    }
  }
}
.showInformations {
  position: absolute;
  display: flex;
  min-width: 200px;
  background-color: $fourthColor;
  justify-content: center;
  padding: 5px;
  z-index: 999;
  top: -40px;
  text-align: center;
  border-radius: 15px;
  left: 50%;
  transform: translateX(-50%);
}